[Unit]
Description="consul-template"
Requires=network-online.target
ConditionFileNotEmpty=/etc/consul-template.d/consul-template.hcl

[Service]
EnvironmentFile=-/etc/consul-template.d/consul-template.env
ExecStart=/usr/bin/consul-template -config=/etc/consul-template.d
ExecReload=/bin/kill --signal HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target