---
- hosts: localhost
  # run this task in the host
  connection: local
  tasks:
    - name: create containers
      loop: "{{ groups['all'] }}"
      community.general.lxd_container:
        name: "{{ item }}"
        state: started
        source:
          type: image
          mode: pull
          server: https://images.linuxcontainers.org
          alias: ubuntu/focal/amd64
        config:
          # nomad clients need some privileges to be able to run docker containers
          security.nesting: "{{ 'true' if item in groups['nomad_clients'] else 'false' }}"
          security.privileged: "{{ 'true' if item in groups['nomad_clients'] else 'false' }}"
        # uncomment if you installed lxd using snap
        url: unix:/var/snap/lxd/common/lxd/unix.socket
    
    - name: add port maps
      community.general.lxd_container:
        name: proxy
        devices:
          map_port_80:
            type: proxy
            listen: tcp:127.0.0.1:80
            connect: tcp:127.0.0.1:80
          map_port_8080:
            type: proxy
            listen: tcp:127.0.0.1:8080
            connect: tcp:127.0.0.1:8080
        url: unix:/var/snap/lxd/common/lxd/unix.socket

- hosts: consul_servers
  roles:
    - consul_server

- hosts: nomad_servers
  roles:
    - consul_client
    - nomad_server

- hosts: nomad_clients
  roles:
    - consul_client
    - nomad_client

- hosts: proxy
  roles:
    - consul_client
    - proxy
