http:
  routers:
    consul:
      service: consul
      rule: "Host(`consul.{{ proxy_route_suffix }}`)"

    nomad:
      service: nomad
      rule: "Host(`nomad.{{ proxy_route_suffix }}`)"

  services:
    consul:
      loadBalancer:
        servers:
          {% for name in groups['consul_servers'] -%}
          - url: http://{{ name }}:8500
          {% endfor %}

    nomad:
      loadBalancer:
        servers:
          {% for name in groups['nomad_servers'] -%}
          - url: http://{{ name }}:4646
          {% endfor %}
