[http]
  [http.routers]
    [http.routers.consul]
      service = "consul"
      rule = "Host(`consul.127.0.0.1.nip.io`)"

    [http.routers.nomad]
      service = "nomad"
      rule = "Host(`nomad.127.0.0.1.nip.io`)"

  [http.services]
    [http.services.consul]
      [http.services.consul.loadBalancer]
        {% for host in groups['consul_servers'] -%}
        [[http.services.consul.loadBalancer.servers]]
          url = "http://{{ host }}:8500"
        {% endfor %}

    [http.services.nomad]
      [http.services.nomad.loadBalancer]
        {% for host in groups['nomad_servers'] -%}
        [[http.services.nomad.loadBalancer.servers]]
          url = "http://{{ host }}:4646"
        {% endfor %}
