[http]
  [http.routers]
    [http.routers.consul]
      service = "consul"
      rule = "Host(`consul.{{ ansible_eth0.ipv4.address }}.nip.io`)"

    [http.routers.nomad]
      service = "nomad"
      rule = "Host(`nomad.{{ ansible_eth0.ipv4.address }}.nip.io`)"

  [http.services]
    [http.services.consul]
      [http.services.consul.loadBalancer]
        {% for host in groups['consul_servers'] -%}
        [[http.services.consul.loadBalancer.servers]]
          url = "http://{{ hostvars[host].ansible_eth0.ipv4.address }}:8500"
        {% endfor %}

    [http.services.nomad]
      [http.services.nomad.loadBalancer]
        {% for host in groups['nomad_servers'] -%}
        [[http.services.nomad.loadBalancer.servers]]
          url = "http://{{ hostvars[host].ansible_eth0.ipv4.address }}:4646"
        {% endfor %}