ui = true
disable_mlock = true

api_addr     = "https://{{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}:8200"
cluster_addr = "https://{{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}:8201"

listener "tcp" {
  address            = "0.0.0.0:8200"
  tls_cert_file      = "/etc/certs.d/cert.pem"
  tls_key_file       = "/etc/certs.d/key.pem"
  tls_client_ca_file = "/etc/certs.d/ca.pem"

  telemetry {
    unauthenticated_metrics_access = true
  }
}

storage "raft" {
  path    = "/opt/vault/data"
  node_id = "{{ ansible_hostname }}"

  {% for host in groups["vault_servers"] -%}
  {% if host != ansible_hostname -%}
  retry_join {
    leader_api_addr         = "https://{{ hostvars[host].ansible_host }}:8200"
    leader_ca_cert_file     = "/etc/certs.d/ca.pem"
    leader_client_cert_file = "/etc/certs.d/cert.pem"
    leader_client_key_file  = "/etc/certs.d/key.pem"
  }
  {% endif -%}
  {% endfor -%}
}

service_registration "consul" {
  token = "{{ vault_consul_token }}"
}

telemetry {
  disable_hostname = true
}