data_dir       = "/opt/consul"
server         = false
advertise_addr = "{{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}"
client_addr    = "127.0.0.1 {{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}"

retry_join = [
  {% for host in groups["consul_servers"] -%}
  "{{ hostvars[host].ansible_host }}",
  {% endfor -%}
]

ports {
  https    = 8501
  grpc     = 8502
  grpc_tls = 8503
}

connect {
  enabled = true
}

tls {
  defaults {
    ca_file         = "/etc/certs.d/ca.pem"
    verify_incoming = true
    verify_outgoing = true
  }

  internal_rpc {
    verify_server_hostname = true
  }
}

auto_encrypt {
  tls = true
}

acl {
  enabled = true
  tokens {
    agent = "{{ consul_agent_token }}"
  }
}

encrypt = "{{ consul_encrypt_key }}"
