---
- import_role:
    name: nomad_service

- name: copy nomad config
  copy:
    src: nomad.hcl
    dest: /etc/nomad.d/nomad.hcl

- name: restart nomad
  service:
    name: nomad
    state: restarted
