defaults
  mode http
  timeout client       60s
  timeout connect      5s
  timeout server       10s
  timeout http-request 10s

frontend http
  bind :80
  bind :443 ssl crt /etc/certs.d/haproxy.pem
  http-request set-header x-forwarded-proto %[ssl_fc,iif(https,http)]

  # acls
  acl host_consul hdr(host)  -i consul.{{ external_domain }}
  acl host_vault hdr(host)   -i vault.{{ external_domain }}
  acl host_nomad hdr(host)   -i nomad.{{ external_domain }}
  acl host_traefik hdr(host) -i traefik.{{ external_domain }}

  # backends
  use_backend consul_dashboard  if host_consul
  use_backend vault_dashboard   if host_vault
  use_backend nomad_dashboard   if host_nomad
  use_backend traefik_dashboard if host_traefik

  default_backend infra_clients

backend consul_dashboard
  {% for host in groups["consul_servers"] -%}
  server {{ host }} {{ hostvars[host].ansible_host }}:8501 ssl verify none
  {% endfor %}

backend vault_dashboard
  {% for host in groups["vault_servers"] -%}
  server {{ host }} {{ hostvars[host].ansible_host }}:8200 ssl verify none
  {% endfor %}

backend nomad_dashboard
  {% for host in groups["nomad_servers"] -%}
  server {{ host }} {{ hostvars[host].ansible_host }}:4646 ssl verify none crt /etc/certs.d/nomad.crt
  {% endfor %}

backend traefik_dashboard
  {% for host in groups["nomad_infra_clients"] -%}
  server {{ host }} {{ hostvars[host].ansible_host }}:8080
  {% endfor %}

backend infra_clients
  {% for host in groups["nomad_infra_clients"] -%}
  server {{ host }} {{ hostvars[host].ansible_host }}:80
  {% endfor %}
