data_dir       = "/var/consul"
server         = true
advertise_addr = "{{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}"
client_addr    = "127.0.0.1 {{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}"

{% if ansible_hostname == consul_primary -%}
bootstrap_expect = 3
{% else -%}
retry_join = [ "{{ consul_primary }}.lxd" ]
{% endif %}

ui_config {
  enabled          = true
  metrics_provider = "prometheus"
  metrics_proxy {
    base_url = "http://prometheus.service.consul:9090"
  }
}

connect {
  enabled = true
}

telemetry {
  prometheus_retention_time = "10s"
  disable_hostname          = true
}

config_entries {
  bootstrap = [
    {
      Kind = "proxy-defaults"
      Name = "global"
      Config {
        envoy_prometheus_bind_addr = "0.0.0.0:9102"
      }
    }
  ]
}