{{- with secret 
    "pki/issue/nomad-cluster"
    "common_name=[[ common_name ]]"
    "ttl=24h"
    "alt_names=localhost,[[ ansible_hostname ]].node.consul,[[ alt_names | join(",") ]]"
    "ip_sans=127.0.0.1,[[ ansible_host ]]" -}}
{{ .Data.certificate }}
{{- end -}}